 
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
       
        .motivatie, .cvJason, .cvLink, .github, .email, .telefoonNummer, .githubLink {
            border: 2px solid rgba(255, 255, 255, 0.2);
            text-align: center;
            background: linear-gradient(135deg, #6a11cb, #2575fc);
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .motivatie:hover, .cvJason:hover, .cvLink:hover, .github:hover, .email:hover, .telefoonNummer:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
            background: linear-gradient(135deg, #6a11cb, #2575fc);
        }
        .cvDownloadBtn{
            background-color: rgb(140, 0, 255);
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .cvDownloadBtn:hover{
            background-color: rgb(110, 0, 200);
            color: #ffffff;
            transform: translateY(-3px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        }