.my-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    height: 100vh;
}
.html-bar, .css-bar, .js-bar, .php-bar, .java-bar{
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}
.bar-html {
    height: 20px;
    background: linear-gradient(45deg, rgb(8, 78, 230), rgb(80, 80, 80));
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.bar-html:hover {
    background: linear-gradient(45deg, rgb(57, 112, 231), rgb(61, 61, 61));
    transform: scale(1.2);
}

.bar-css {
    height: 20px;
    background: linear-gradient(45deg, rgb(8, 78, 230), rgb(80, 80, 80));
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.bar-css:hover {
    transform: scale(1.2);
    background: linear-gradient(45deg, rgb(57, 112, 231), rgb(61, 61, 61));
}

.bar-js {
    height: 20px;
    background: linear-gradient(45deg, rgb(8, 78, 230), rgb(80, 80, 80));
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.bar-js:hover {
    transform: scale(1.2);
    background: linear-gradient(45deg, rgb(57, 112, 231), rgb(61, 61, 61));
}

.bar-php {
    height: 20px;
    background: linear-gradient(45deg, rgb(230, 8, 8), rgb(29, 29, 29));
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.bar-php:hover {
    transform: scale(1.2);
    background-color: #d81010;
}

.bar-java {
    height: 20px;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(17, 17, 17));
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.bar-java:hover {
    transform: scale(1.2);
    background-color: #106ce6;
}

.homepagina, .ab-me, .about-me, .foto, .more-about {
    text-align: center;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homepagina:hover, .ab-me:hover, .about-me:hover, .foto:hover, .more-about:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

